@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --font-family: 'Manrope', sans-serif;

    --gradient-text: #31473A;
    --gradient-bar: #7C8363;

    --color-bg: #EDF4F2;
    --color-footer : #EDF4F2;
    --color-blog: #31473A;
    --color-text: #31473A;
    --color-subtext: #7C8363;
}